body {
  background: url(/src/A-Plus-Index.jpg) no-repeat center top;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 980px;
}

/* Header */

.main-header {
  padding: 65px 0 155px;
}

.header-top {
  margin-bottom: 120px;
}

.header-top::after {
  clear: both;
  content: '';
  display: table;
}

.logo {
  float: left;
  min-height: 100px;
  width: 180px;
}

.main-menu {
  float: right;
  margin-top: 25px;
  min-height: 40px;
  width: 680px;
}

.promo {
  min-height: 330px;
  width: 450px;
}

/* Features */

.features {
  padding: 85px 0 75px;
}

.features .container::after {
  clear: both;
  content: '';
  display: table;
}

.features-item {
  float: left;
  margin-right: 40px;
  min-height: 90px;
  width: 300px;
}

.features-item:last-child {
  margin-right: 0;
}

/* Feedback */

.feedback {
  padding: 85px 0 80px;
}

.feedback-title,
.contacts-title {
  margin: 0 0 0 65px;
  min-height: 50px;
}

.feedback-item::after {
  clear: both;
  content: '';
  display: table;
}

.feedback-author {
  float: left;
  min-height: 140px;
  padding-left: 170px;
  width: 130px;
}

.feedback-content {
  float: right;
  margin: 0;
  min-height: 140px;
  width: 640px;
}

/* Contacts */

.contacts {
  padding: 85px 0 80px;
}

.contacts .container::after {
  clear: both;
  content: '';
  display: table;
}

.contacts-form {
  float: left;
  min-height: 420px;
  width: 640px;
}

.contacts-instruction {
  float: right;
  min-height: 420px;
  width: 300px;
}

/* Footer */

.main-footer {
  padding: 95px 0 75px;
}

.footer-top::after {
  clear: both;
  content: '';
  display: table;
}

.footer-address {
  float: left;
  margin-right: 40px;
  min-height: 210px;
  width: 300px;
}

.footer-menu {
  float: left;
  margin-top: 25px;
  min-height: 185px;
  width: 150px;
}

.footer-menu:last-child {
  float: right;
  width: 135px;
}

.footer-bottom {
  margin-top: 45px;
}

.footer-bottom::after {
  clear: both;
  content: '';
  display: table;
}

.copyright {
  float: left;
  margin-right: 40px;
  min-height: 45px;
  width: 300px;
}

.footer-social-promo {
  float: left;
  min-height: 45px;
  width: 420px;
}

.footer-social {
  float: right;
  min-height: 45px;
  width: 170px;
}