body {
  background: url(/src/A-Plus-Index.jpg) no-repeat center top;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 980px;
}

/* Header */

.main-header {
  padding: 65px 0 155px;
}

.header-top {
  margin-bottom: 140px;
}

.header-top::after {
  clear: both;
  content: '';
  display: table;
}

.logo {
  float: left;
  min-height: 80px;
  width: 180px;
}

.main-menu {
  float: right;
  margin-top: 30px;
  min-height: 40px;
  width: 680px;
}

.promo {
  min-height: 330px;
  width: 450px;
}

/* Features */

.features {
  padding: 85px 0 70px;
}

.features-item {
  float: left;
  margin-right: 40px;
  width: 300px;
}

.features-item:last-child {
  margin-right: 0;
}

.features .container::after {
  clear: both;
  content: '';
  display: table;
}

/* Feedback */

.feedback {
  padding: 90px 0 80px;
}

.feedback-item::after {
  clear: both;
  content: '';
  display: table;
}

.feedback-author {
  float: left;
  width: 300px;
}

.feedback-content {
  float: right;
  margin: 0;
  margin-left: 40px;
  width: 640px;
}

/* Contacts */

.contacts {
  padding: 95px 0 85px;
}

.contacts .container::after {
  clear: both;
  content: '';
  display: table;
}

.contacts-form {
  float: left;
  width: 590px;
}

.contacts-instruction {
  float: right;
  width: 300px;
}

.contacts-alert {
  margin-top: 120px;
}

/* Footer */

.main-footer {
  padding: 85px 0 65px;
}

.footer-top {
  margin-bottom: 65px;
}

.footer-top::after {
  clear: both;
  content: '';
  display: table;
}

.footer-address {
  float: left;
  margin-right: 40px;
  width: 300px;
}

.footer-menu {
  float: left;
  width: 150px;
}

.footer-menu:last-child {
  float: right;
}

.footer-bottom {

}

.footer-bottom::after {
  clear: both;
  content: '';
  display: table;
}

.copyright {
  float: left;
  margin-right: 40px;
  width: 300px;
}

.footer-social-promo {
  float: left;
  width: 450px;
}

.footer-social {
  float: right;
  width: 150px;
}